<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div id="page">

            <div id="header">
                <h1>JavaScript Rules</h1>
            </div>

            <div id="wrapper">

                <div id="content">
                {{ content }}
                </div>

                <div id="sidebar">
                </div>

            </div>

            <div id="footer">
                <p>Disclaimer: Any viewpoints and opinions expressed in this blog are those of the authors and do not, in any way, reflect those of Yahoo! or anyone else.</p>
            </div>

        </div>

        <script>(function(d,t){var h=d.getElementsByTagName(t)[0],s=d.createElement(t);_gaq=[['_setAccount','UA-8130902-1'],['_trackPageview']];s.src='http://www.google-analytics.com/ga.js';s.async=true;h.parentNode.insertBefore(s,h);}(document,'script'));</script>
    </body>
</html>
