---
layout: default
---
<div id="post">
    <h2><a href="{{ site.uri }}{{ page.url }}">{{ page.title }}</a></h2>
    <div class="metadata">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b, %Y" }}</time>
        <span>by {{ page.author }}</span>
    </div>
    <div class="entry">{{ content }}</div>
    <div class="metadata">
        Tags:
        {% for tag in page.tags %}
            <a href="{{ site.uri }}/tag/{{ tag | first }}.xml">{{ tag | first }}</a>
            {% if forloop.rindex0 != 0 %}|{% endif %}
        {% endfor %}
        <br>
        Category:
        {% for category in page.categories %}
            <a href="{{ site.uri }}/category/{{ category | first }}.xml">{{ category | first }}</a>
            {% if forloop.rindex0 != 0 %}|{% endif %}
        {% endfor %}
    </div>
</div>

<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=javascriptrules">comments powered by Disqus.</a></noscript>
<script>{% include comments-min.js %}</script>
